<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test  name="Test">
  <parameter name="URL" value="www.facebook.com"></parameter>
   <parameter name="user" value="divyanshu"></parameter>
    <classes>
     
      <class name="TestNG.day1">
      
      <methods>
      <exclude name="day"/>
       </methods>
      </class>
      <class name="TestNG.day2"></class>
      <class name="TestNG.day4"></class>
    </classes>
  </test> 
  
  
  <test name="MobileTest">
  <parameter name="URL" value="www.amazon.com"></parameter>
  <classes>
  <class name="TestNG.day3">
  <methods>
  <exclude name="Mobile.*"/>         
  </methods>
  
  </class>
  </classes>
  </test>
</suite> 
